/* Small Device */
@media screen and (max-width:600px){

    img {max-width: 100%;

    } 
    section {
        padding: 50pxpx 0px;
    }
    p{
        font-size: 15px;
        line-height: 15px;
    }
    .btn {
        width: 175px;
        
    }
    .heading {
        font-size: 25px;
    }
    .sub-heading{
        margin-top: 10px auto;
        font-size: 20px;
    }
    .underline {
        width: 10px;
    }
    .writing-part {
        margin-bottom: 30px;
      }
     /* Layout */
  [class*="col-s-"] {
  
    float: left;
    
    }
    
    .col-s-1 {
    
    width: 8.33%;
    
    }
    
    .col-s-2 {
    
    width: 16.66%;
    
    }
    
    .col-s-3 {
    
    width: 25%;
    
    }
    
    .col-s-4 {
    
    width: 33.33%;
    
    }
    
    .col-s-5 {
    
    width: 41.66%;
    
    }
    
    .col-s-6 {
    
    width: 50%;
    
    }
    
    .col-s-7 {
    
    width: 58.33%;
    
    }
    
    .col-s-8 {
    
    width: 66.66%;
    
    }
    
    .col-s-9 {
    
    width: 75%;
    
    }
    
    .col-s-10 {
    
    width: 83.33%;
    
    }
    
    .col-s-11 {
    
    width: 91.66%;
    
    }
    
    .col-s-12 {
    
    width: 100%;
    
    }
    /* header part */
    header {
        text-align: center;
    }
    .menu-part ul {
        text-align: center;
    }
    .hero-part {
        padding: 75px 25px;
        text-align: center;
      }
      .hero-part h1 {
        font-size: 25px;
        line-height: 25px;
    }
    .hero-part button {
        width: 125px;
        padding: 8px;
        font-size: 15px;
        line-height: 15px;
      }
    
}